{deps, [
{lager,".*",{git,"https://github.com/basho/lager","master"}},{cowboy,".*",{git,"https://github.com/ninenines/cowboy","master"}},{eep,".*",{git,"https://github.com/virtan/eep","master"}},{folsom,".*",{git,"https://github.com/boundary/folsom","master"}},{erlsh,".*",{git,"https://github.com/proger/erlsh","master"}},{grapherl,".*",{git,"https://github.com/eproxus/grapherl","master"}},{live,".*",{git,"https://github.com/ninenines/live","master"}},{tddreloader,".*",{git,"https://github.com/version2beta/tddreloader","master"}}
]}.
{erl_opts, [{parse_transform,lager_transform},{lager_truncation_size,1234}]}.
